
.Header-title 
    background-color: grey

.Avatar
    border-radius: 50%
    border: 2px solid black
    background-color: DarkGray
    width: 70px
    height: 70px
    margin: 10px
    img 
        text-align: center